%table#rules
  %thead
    %tr
      / - if trees.parent
      /   %th= link_to "#{trees.name}", tree_path(trees.parent)
      / - else
      /   %th= trees.name
      %th= link_to "#{trees.name}", tree_path(trees)

  %tbody
    %tr
      %td
        = link_to 'Children', tree_path(trees)
        |
        = link_to 'Edit', edit_rule_path(trees)
        |
        =link_to 'Delete', trees , :confirm => "Are you sure?", :method => :delete
        |
        = link_to 'Add child', new_rule_path(:parent_id => trees)