%h2 Details about: #{@rule.name}

/ - if @rule.parent
/ 	%h3 Parent:
/ 	= link_to "#{@rule.parent.name}", tree_path(@rule.parent) 
/ 	/= @rule.parent.name

/ 	/= render :partial => 'trees' , :object => @rule.parent


/ %h3 This rule: #{@rule.name}
/ = render :partial => 'trees', :object => @rule


/ - @children = @rule.children
/ - if @children
/ 	%h3 Child rules
/ 	%ul
/ 		- @children.each do |child|
/ 			%li= render :partial => 'trees', :object => child
%h2 Tree View
.tree
	-if @rule.parent
		%ul= render :partial => 'drawtree', :object => @rule.parent
	-else
		%ul= render :partial => 'drawtree', :object => @rule

